/* This is the base styling of the website */
/* Contains the stylings that are common to all the webpages*/

*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
 
 }
 
 body{
   background: #f7f0fb;
 }
 
 .sec1 {
   background-position: center;
   background-size: cover;
   height: 100vh;
   width: 100%;
 }
 #homepage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/1.jpg");
 }
 
 #speciespage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/speciesmain.png");
 }
 
 #hatcheriespage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/hatcheriesMain.jpg");
 }
 
 #Hikkapage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/Hikkaduwa.jpg");
 }
 
 #learnpage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/learnMain.png");
 }
 
 #donatepage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/donationMain.jpg");
 }
 
 
 .logo {
   width: 250px;
   cursor: pointer;
   height: auto;
   left: 0px;
   margin-left: 20px;
   
 }
 
 .mainNav {
   width: 100%;
   margin: auto;
   padding: 25px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: black;
    opacity: 0.6;
 
 }
 .mainNav ul li {
   list-style: none;
   display: inline-block;
   
   margin: 0 25px;
 }
 
 .mainNav ul li a{
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 font-weight: bold;
 text-align: center;
   
 padding: 14px 0;
   cursor: pointer;
 
   background-image: linear-gradient(#8fc1e3, #8fc1e3);
   background-size: 0 5px, auto;
   background-repeat: no-repeat;
   background-position: center bottom;
   transition: 0.5s ease;
 } 
 
 .mainNav a:hover{
   background-size: 100% 5px, auto;
 }
 
 
 
 .intro { 
   color: #f7f0fb;
   position: absolute;
   width: 80%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   word-spacing: 10px;
 }
 
 .intro h1 {
   font-size: 3em;
   font-family: 'Cormorant Garamond', serif;
 }
 
 .ReadMorelink {
   display: inline-block;
   text-decoration: none;
   border-radius: 30px;
   color: white;
   padding: 12px 34px;
   font-size: 16px;
   background: #687864;
   position: relative;
   cursor: pointer;
 }
 
 .ReadMorelink:hover{
   background: #31708e;
   color: white;
   transition: 1s;
 }
 
 footer{
   box-sizing: border-box;
   background-color: #31708e;
   padding: 70px 0;
 
 }
 
 .footer {
   max-width: 1170px;
   margin: auto;
 }
 .row {
   display: flex;
   flex-wrap: wrap;
 }
 .row ul {
   list-style: none;
 }
 .row ul li {
   line-height: 2;
 }
 .col {
   width: 25%;
   padding: 0 15px;
 }
 
 .col h3{
   font-size: 1.5em;
   margin-bottom: 25px;
   position: relative;
   color: #f7f0fb;
 }
 
 .col h3::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: #8fc1e3;
   height: 2px;
   box-sizing: border-box;
   width: 50px;
 }
 
 .col ul li:not(:last-child){
   margin-bottom: 10px;
 }
 
 .col ul li a {
   font-size: 17px;
   text-decoration: none;
   color: #f7f0fb;
   font-weight: 350;
   display: block;
   transition: all 0.5s ease;
 }
 
 .col ul li a:hover {
   color: #f7f0fb;
   padding-left: 10px;
 }
 
 .col .icons a {
   display: inline-block;
   height: 40px;
   width: 40px;
   font-size: 1.5em;
   text-align: center;
   line-height: 40px;
   margin: 0 15px 15px 0;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 50%;
   color: #f7f0fb;
   transition: all 0.5s ease;
 }
 
 .col .icons a:hover {
   color: #31708e;
   background-color: #f7f0fb;
 }
 
 /* base styling of the website ends here */
 




 /* Contains the stylings that are unique to the webpages*/

  /* ----------------------------------------------------------------------------------------------------------------------------------------- */


  /* Homepage styles begins here*/
 .sec2{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .sec2 .welcome {
    
    text-align: left;
    margin-left: 40px; 
    word-spacing: 5px;
 } 

 .sec2 p {
   font-size: 1.4em;
} 

 .sec2 h1 {
    color: #5085a5;   
    font-size: 3em;
    font-family: 'Playfair Display', serif;

 }

 

 .sec3 {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 50px;
    background-size: cover;
    display: flex;
 }

 .sec3 .leftbox {
    width: 50%; 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
    float: left;
    background-image: url("../Images/3.jpg");
 
    background-size: cover;
    opacity: 0.9;
  
 }

 .sec3 .rightbox {
    width: 50%;
    height: 100%;
    padding: 50px 60px 80px;
    
    box-sizing: border-box;
    float: right;
    position: relative;
    background-color: #8fc1e3;
    line-height: 2;
 }

 .sec3 .rightbox h1 {
    padding: 30px 0;
    text-align: center;
    color: white;   
    font-size: 2.4em;
    font-family: 'Playfair Display', serif;
 }

 .sec3 .rightbox .catlist {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px;
 }

 

 .sec4 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
 }
 .sec4 h1 {
    font-size: 2.2em;
    font-family: 'Playfair Display', serif;

 }
 .HatcheryRow {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }

 .location { 
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }


 .locationName {
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;  
    transition: 0.5s;
 }

 .locationName:hover{
    background: rgba(143, 193, 227, 0.8);
 }

 .locationName h2 {
    width: 100%;
    font-weight: 500;
    color: #687864;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
 }

 .locationName:hover h2 {
    bottom: 50%;
    opacity: 1;
    cursor: pointer;
 }

 .sec5 {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .sec5 h1 {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    color: #5085a5;
 }

/* Homepage styles ends here*/


  /* ----------------------------------------------------------------------------------------------------------------------------------------- */
  
  
/* Species page styles begins here*/

.speciesIntro{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .speciesIntro p {  
    font-size: 1.5em;
    line-height: 2;
    padding-top: 30px;
 } 

 .speciesIntro h1 {
    color: #687864;
    padding-bottom: 30px; 
    font-size: 3em;
    font-family: 'Playfair Display', serif;
 }

 .speciesIntro hr{
    height: 3px;
    width: 50%;
    margin: 0 25% 0 25%;
    background: #5085a5;
    transition: 0.5s ease;
 }

 /* ----------------------------------------------------------------------------------------------------------------------------------------- */

 .GreenTurtle {
   width: 80%;
   height: 80vh;
   margin-left: 10%;
   margin-right: 20%;
   margin-top: 5%;
   padding-top: 50px;
   background: #8fc1e3;
   
}

.GreenTurtle h1 {
   text-align: center;
   color: #f7f0fb;
   font-size: 2.4em;
   font-family: 'Playfair Display', serif;
}

.GreenTurtle .leftbox {
   width: 50%; 
   padding: 50px;
   box-sizing: border-box;
   float: left;
}

.GreenTurtle .leftbox img {
   width: 100%;
}

.GreenTurtle .rightbox {
   width: 50%;
   padding: 40px;
   box-sizing: border-box;
    float: right;
    position: relative;
    line-height: 2;
}





/* ----------------------------------------------------------------------------------------------------------------------------------------- */
 
 .OliveRidley {
   width: 80%;
   height: 80vh;
   margin-left: 10%;
   margin-right: 20%;
   margin-top: 5%;
   padding-top: 50px;
   
   
}

.OliveRidley h1 {
   text-align: center;
   color: #8fc1e3;
   font-size: 2.4em;
   font-family: 'Playfair Display', serif;
}

.OliveRidley .leftbox {
   width: 50%; 
   padding: 50px;
   box-sizing: border-box;
   float: left;
}

.OliveRidley .leftbox img {
   width: 100%;
}

.OliveRidley .rightbox {
   width: 50%;
   padding: 40px;
   box-sizing: border-box;
    float: right;
    position: relative;
    line-height: 2;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.Loggerhead {
   width: 80%;
   height: 80vh;
   margin-left: 10%;
   margin-right: 20%;
   margin-top: 5%;
   padding-top: 50px;
   background: #8fc1e3;
   
}

.Loggerhead h1 {
   text-align: center;
   color: #f7f0fb;
   font-size: 2.4em;
   font-family: 'Playfair Display', serif;
}

.Loggerhead .leftbox {
   width: 50%; 
   padding: 50px;
   box-sizing: border-box;
   float: left;
}

.Loggerhead .leftbox img {
   width: 100%;
}

.Loggerhead .rightbox {
   width: 50%;
    padding: 40px;
    box-sizing: border-box;
    float: right;
    position: relative;
    line-height: 2;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.Hawksbill {
   width: 80%;
   height: 80vh;
   margin-left: 10%;
   margin-right: 20%;
   margin-top: 5%;
   padding-top: 50px;
   
}

.Hawksbill h1 {
   text-align: center;
   color: #8fc1e3;
   font-size: 2.4em;
   font-family: 'Playfair Display', serif;
}

.Hawksbill .leftbox {
   width: 50%; 
   padding: 50px;
   box-sizing: border-box;
   float: left;
}

.Hawksbill .leftbox img {
   width: 100%;
}

.Hawksbill .rightbox {
   width: 50%;
   padding: 40px;
   box-sizing: border-box;
    float: right;
    position: relative;
    line-height: 2;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------- */


.Leatherback {
   width: 80%;
   height: 80vh;
   margin-left: 10%;
   margin-right: 20%;
   margin-top: 5%;
   margin-bottom: 10%;
   padding-top: 50px;
   background: #8fc1e3;
   
}

.Leatherback h1 {
   text-align: center;
   color: #f7f0fb;
   font-size: 2.4em;
   font-family: 'Playfair Display', serif;
}

.Leatherback .leftbox {
   width: 50%; 
   padding: 50px;
   box-sizing: border-box;
   float: left;
}

.Leatherback .leftbox img {
   width: 100%;
}

.Leatherback .rightbox {
   width: 50%;
   padding: 40px;
   box-sizing: border-box;
    float: right;
    position: relative;
    line-height: 2;
}

table, td{
   border: 1px solid #8fc1e3;
   text-align: center;
}

.catSumTable{
   width: 80%;
   margin-left: 10%;
   margin-right: 10%; 
   margin-bottom: 5%;
   background: #8fc1e3;
}

.catSumTable tr {
   height: 80px;
   background: #f7f0fb;
}

.catSumTable th{
   background: #8fc1e3;
   border: 1px solid #f7f0fb;
   color: white;

}

/* Species page styles ends here*/

/* ----------------------------------------------------------------------------------------------------------------------------------------- */




/* Hikkaduwa Hatchery page styles begins here*/

#HikkaIntro {
   width: 55%;
   top: 55%;
   left: 30%;
   padding: 30px 20px;
   background: black;
   opacity: 0.75;
   border-radius: 30px;
}

#HikkaIntro h1 {
   font-family: 'Prata', serif;
   font-size: 3em;
   letter-spacing: 2.5px;
}

#HikkaIntro p {
   font-family: 'Work Sans', sans-serif;
   text-align: left;
   padding: 0 20px;
   font-size: 1.2em;
   line-height: 1.5;
}

.HikkaSec{
    width: 75%;
    margin: auto;
    text-align: left;
    padding-top: 70px;
 }


 .HikkaSub{
   font-family: 'Cormorant Garamond', serif;
   font-size: 2.5em;
   background: linear-gradient(to bottom, transparent 40%, #8fc1e3,#5085a5);
 }

 .HikkaSec p {
   font-family: 'Work Sans', sans-serif;
   font-size: 1.5em;
   line-height: 1.5;  
}

.HikkaLocation h1 {
   font-family: 'Playfair Display', serif;
   font-size: 3em;
   color: #5085a5;
   font-weight: bold;
   padding: 40px 0;
   text-align: center;
}

.HikkaLocation iframe {
   width: 100%;
   height: 70vh;
 }

 #Hsec4 {
   margin-bottom: 40px;
 }


 /* Hikkaduwa Hatchery page styles ends here*/



 /* ----------------------------------------------------------------------------------------------------------------------------------------- */




 /* Learn page styles begins here*/

.learnSec1 {
   width: 80%;
   margin: 50px auto 20px;
}

.lifeCycIntro h1 {
   font-family: 'Cormorant Garamond', serif;
   font-size: 3.5em;
   color: #5085a5;
   text-align: center;
}

.lifeCycIntro p {
   font-family: 'Work Sans', sans-serif;
   font-size: 1.5em;
   line-height: 1.5;  
   text-align: center;
}

.lifeCycIntro img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
 

.lifeCycDescrip {
   width: 80%;
   display: flex;
   justify-content: center;
   margin: 40px auto;
}

.lifeCycDescrip ul li{
   font-family: 'Playfair Display', serif;
   color: #687864;
   font-size: 2em;
   
}

.lifeCycDescrip p{
   font-family: 'Work Sans', sans-serif;
   font-size: 1.4em;
   line-height: 1.4;
   padding-top: 15px;
}



.learnSec2 {
   width: 80%;
   margin: 50px auto 20px;
}

.threatIntro h1 {
   font-family: 'Cormorant Garamond', serif;
   font-size: 3.5em;
   color: #5085a5;
   text-align: center;
}

.threatIntro p {
   font-family: 'Work Sans', sans-serif;
   font-size: 1.5em;
   line-height: 1.5;  
   text-align: center;
}

.ThreatsDescription {
   width: 90%;
   display: flex;
   justify-content: center;
   margin: 40px auto;
}

.ThreatsDescription ol li{
   font-family: 'Playfair Display', serif;
   color: #687864;
   font-size: 2em;
   
}

.ThreatsDescription p{
   font-family: 'Work Sans', sans-serif;
   font-size: 1.4em;
   line-height: 1.4;
   padding-top: 15px;
}

.conservation p {
   font-family: 'Work Sans', sans-serif;
   margin-bottom: 50px;
   font-size: 1.4em;
   line-height: 1.5;  
   font-weight: bold;
   text-align: left;
}

.threatBox {
   width: 100%;
   height: 60vh;
   
}


.threatleft {
   width: 50%; 
   box-sizing: border-box;
   float: left;
}

.threatright img {
   width: 80%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.threatleft img {
   width: 80%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.threatright {
   width: 50%;
    box-sizing: border-box;
    float: right;
    position: relative;

}

/* Learn page styles ends here*/



 /* ----------------------------------------------------------------------------------------------------------------------------------------- */




 /* Donation page styles begins here*/

 .Donatesec2 {
   width: 80%;
   margin: 50px auto 20px;
}

.Donatesec2 h1 {
   font-family: 'Cormorant Garamond', serif;
   font-size: 3.5em;
   color: #5085a5;
   text-align: left;
}

.Donatesec2 h2{
   font-family: 'Playfair Display', serif;
   color: #687864;
   font-size: 2em;
   
}

.Donatesec2 p {
   font-family: 'Work Sans', sans-serif;
   padding-top: 20px;
   margin-bottom: 50px;
   font-size: 1.4em;
   line-height: 1.5;  

}

.Donatesec3 {
   width: 90%;
   margin: 50px auto 20px;
}

.mainheading h1 {
   font-family: 'Cormorant Garamond', serif;
   text-decoration: underline;
   font-size: 3.5em;
   color: #5085a5;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 40px;
}


 .Merchs h1 {
   font-family: 'Playfair Display', serif;
   color: #31708e;
   margin-bottom: 40px;
   font-size: 2.5em;

}



.ProductImg {
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 50px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
   column-gap: 20px;
   row-gap: 10px;

}

.ProductImg img {
   width: 350px;
   height: 350px;
  object-fit: fill;
   object-position: center;
}








