
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}



/* Styling for the Kosgoda Hatchery page starts here */

.KosgodaBody{
  background: #FFE7CC;
}



.KOSsec1 {
    background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  
}


  .logo {
    width: 250px;
    cursor: pointer;
    height: auto;
    left: 0px;
    margin-left: 20px;
    
  }
  
 #KosNav {
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8CBA6;
  }

  #KosNav ul {
    background: #FFE7CC;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #KosNav ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;   
    margin: 5px;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
  }

  #KosNav ul li::after {
    content: '';
    background: #FDA769;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
  }

  
  #KosNav ul li a{
  text-decoration: none;
  color: #687864;
  font-weight: bold;
  text-align: center;   
  padding: 14px 0;
  cursor: pointer;
  } 
  
  #KosNav a:hover{
    color: white;
    }

    #KosNav ul li:hover::after{
      top: 50%;
      opacity: 1;
    }


.introbox {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pic {
    width: 50%;
    height: 550px;
    background: url("../Images/kosgodaMain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.contBox {
    width: 50%;
    min-height: 350px;
    background-color: #453838;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 8px;
    margin-left: -100px; 
    color: #f7f0fb;

}

.content h1{
    font-family: 'Arapey', serif;
    font-size: 40px;
}

.content h1{
    margin-top: 0;
    line-height: 1.4;
}


.KOSsec2{
    width: 100%;
    height: 80vh;
    padding-top: 50px;
    padding-bottom: 50px;
 }

 .speciesCont {
    width: 50%;
    margin-left: 36px;
    margin-top: 50px;
    padding: 10px 20px 20px;
    float: left;
    background: #FFFBEB;
    border-radius: 30px;
    box-shadow: 1px 1px 2px #FFDCA9, 0 0 25px #FAAB78, 0 0 5px #FFE7CC;
 }

 .speciesCont h1 {
    padding-top: 20px;
    font-size: 2.9em;
    text-align: center;
    font-family: 'Arapey', serif;
    color: #687864;
  }

 .speciesCont p {
   margin:  10px 20px;
   color: #687864;
   font-size: 1.2em;
   line-height: 1.7;
 }

 .speciesImg {
    width: 40%;
    top: 20%;
    position: relative;
    float: right;
    margin-right: 30px;

 }

 .KOSsec3 {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
 }

 .KOSsec3 h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Arapey', serif;
    padding-bottom: 30px;
    color: #453838;
    text-shadow: 0 0 5px #8fc1e3;
 }

 .KOSsec3 p {
    text-align: left;
    font-size: 1.3em;
    line-height: 1.7;
    font-style: italic;
 }

 .KOSConEffList {
    width: 100%;
    /* display: flex;
    justify-content: center;     */
    padding: 50px 60px 60px;
    margin: auto;
    box-sizing: border-box;
 }

 .KOSConEffList dt{
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #54BAB9;
 }

 .KOSConEffList dd{
    font-size: 1.4em;
    line-height: 1.5;
    color: #453838;
 }


 .KosLocation {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .KosLocation h1{
    text-align: center;
    font-size: 4em;
    font-family: 'Arapey', serif;
    padding-bottom: 30px;
    color: #AD8B73;
 }

 .KosLocation iframe {
    width: 90%;
    height: 500px;
 }






  /* Styling for the Kosgoda Hatchery page ends here */



/* ----------------------------------------------------------------------------------------------------------------------------------------------- */



  /* Styling for the Bantota Hatchery page starts here */


.BentotaBody {
  color: white;
  background: black;
  
}



  .Bentsec1 {
  width: 100%; 
}

  .logo {
    width: 250px;
    cursor: pointer;
    height: auto;
    left: 0px;
    margin-left: 20px;
    
  }
  
 #BentNav {
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
  }

  #BentNav ul li {
    list-style: none;
    display: inline-block;
    border-radius: 18px;
    padding: 15px 10px;   
    margin: 10px;
  }

  #BentNav ul li :hover {
    border: 0;
    box-shadow: 0 0 3px #610094, 0 0 7px #C147E9, 0 0 20px #3F0071 ;
    color: #C147E9;
    
  }
  
  #BentNav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;   
  padding: 14px 15px; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid white;
  } 
  
  
  .introbox2 {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pic2 {
    width: 100%;
    height: 550px;
    background: url("../Images/BentMain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    border-radius: 10px;
}

.contBox2 { 
  color: #f7f0fb;
  position: absolute;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.content2 {
  margin: 60px auto;
}

.content2 h1 {
  font-size: 3em;
  font-family: 'Prata', serif;
  animation: cont_up 2s ease;
}

.content2 P {
  font-size: 1.7em;
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
  animation: cont_up 2s ease;
}

@keyframes cont_up {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

.Bentsec2 {
  width: 80%;
  margin: 80px auto 60px;
}

.BentspeciesCont h1 {
  font-family: 'Prata', serif;
  color: #8fc1e3;
  font-size: 3em;
  word-spacing: 3px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 40px;  
}

.BentspeciesCont p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5;
}

.Turtnames {
  background: linear-gradient(to bottom, transparent 50%, #610094 50%);
}

.BentspeciesImg {
  display: flex;
  justify-content: center;
  margin: 50px auto 40px;
}
.BentspeciesImg img {
  border-radius: 20px;
}


.Bentsec3 {
  width: 80%;
  margin: 80px auto 60px;
}

.Bentsec3 h1 {
  font-family: 'Prata', serif;
  color: #8fc1e3;
  font-size: 3em;
  word-spacing: 3px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 40px;  
}

.Bentsec3 p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.5;
}

.BentConEffList {
  width: 100%;
  padding: 50px 0 60px;
  margin: auto;
  box-sizing: border-box;
}

.BentConEffList dt{
  font-size: 2.2em;
  padding-left: 30px;
  font-weight: bolder;
  font-family: 'Playfair Display', serif;
  text-align: left;
  color: #baa8c4;
  text-shadow: 0 0 4px #E900FF, 0 0 5px #610094;
}

.BentConEffList dd{
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.6;
  color: #f7f0fb;
}

.BentLocation h1{
  text-align: center;
  font-size: 4em;
  font-family: 'Prata', serif;
  padding-bottom: 40px;
  color: #8fc1e3;
}



.BentLocation iframe {
  width: 100%;
  height: 100vh;
  filter: invert(100%);
}


  /* Styling for the Bantota Hatchery page ends here */


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */



/* Footer Styling Kosgoda*/

.footBENT{
  box-sizing: border-box;
  background-color: #191825;
  padding: 70px 0;

}

#BENTonly h3::before {
  background-color: #E900FF;
}

#BENTonly .icons a:hover {
  color: #E900FF;
  background-color: #f7f0fb;
}


#KOSonly h3::before {
  background-color: #FF7700;
}

#KOSonly .icons a:hover {
  color: #EC994B;
  background-color: #f7f0fb;
}


.footKOS{
    box-sizing: border-box;
    background-color: #EC994B;
    padding: 70px 0;
  
  }
  
  .footer {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row ul {
    list-style: none;
  }
  .row ul li {
    line-height: 2;
  }
  .col {
    width: 25%;
    padding: 0 15px;
  }
  
  .col h3{
    font-size: 1.5em;
    margin-bottom: 25px;
    position: relative;
    color: #f7f0fb;
  }
  
  .col h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .col ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #f7f0fb;
    font-weight: 350;
    display: block;
    transition: all 0.5s ease;
  }
  
  .col ul li a:hover {
    color: #f7f0fb;
    padding-left: 10px;
  }
  
  .col .icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    margin: 0 15px 15px 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    color: #f7f0fb;
    transition: all 0.5s ease;
  }
  
  