  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1043px
  */
  
  @media (min-width: 768px) and (max-width: 1043px) {

    body{
        overflow-x: hidden;
    }

/* navbar */
    .mainNav {
        padding: 10px 0;
    }
    .mainNav ul{
        justify-content: right;
        display: flex;
   
    }
    .mainNav ul li {
        margin: 0 5px;
    }
    .mainNav ul li a{
        font-size: 10px;
    }
/*     .logo{
        margin-left: 0;
        width: 100px;
    } */


/* footer */
.footer .row{
    display: flex;
    justify-content: center;
}
.footer .row .col {
    margin: 0 20px;
}
.col .icons {
    width: 200px;
}

    .intro h1 {
        font-size: 1em;
    }

/* homepage */
    .sec3 {
        height: 80vh;
    }
    .sec3 .rightbox {
        padding: 5px 10px;
    }
    .sec3 .rightbox h1{
        padding: 0;
    }
    .sec3 .rightbox p{
        font-size: 12px;
    }
    .sec3 .rightbox .catlist {
        font-size: 11px;
    }
    .sec3 .rightbox .ReadMorelink{
        padding: 10px 20px;
        font-size: 13px;
    }
    .sec4 {
        width: 90%;
    }
    .HatcheryRow .location {
        margin-right: 20px;
    }
   
/* hikkaduwa page */
#HikkaIntro {
    width: 85%;
    left: 50%;
}
#HikkaIntro h1{
    font-size: 2.2em;
}
#HikkaIntro p {
    font-size: 1em;
}

/* species page */
.speciesIntro {
    width: 80%;
}
.speciesIntro p {
    font-size: 1.2em;
    line-height: 1.7;
}
.GreenTurtle{
    width: 100%;
    padding: 10px 0;
    margin: 40px 0 20px;
}
.GreenTurtle .leftbox {
    width: 40%;
    padding: 20px;
}
.GreenTurtle .rightbox {
    width: 60%;
    padding: 10px;
    line-height: 1.8;
}

.OliveRidley{
    width: 100%;
    padding: 10px 0;
    margin: 40px 0 20px;
}
.OliveRidley .leftbox {
    width: 40%;
    padding: 20px;
}
.OliveRidley .rightbox {
    width: 60%;
    padding: 10px;
    line-height: 1.8;
}

.Loggerhead{
    width: 100%;
    padding: 10px 0;
    margin: 40px 0 20px;
}
.Loggerhead .leftbox {
    width: 40%;
    padding: 20px;
}
.Loggerhead .rightbox {
    width: 60%;
    padding: 10px;
    line-height: 1.8;
}

.Hawksbill{
    width: 100%;
    padding: 10px 0;
    margin: 40px 0 20px;
}
.Hawksbill .leftbox {
    width: 40%;
    padding: 20px;
}
.Hawksbill .rightbox {
    width: 60%;
    padding: 10px;
    line-height: 1.8;
}

.Leatherback{
    width: 100%;
    height: 75vh;
    padding: 10px 0;
    margin: 40px 0 50px;
}
.Leatherback .leftbox {
    width: 40%;
    padding: 20px;
}
.Leatherback .rightbox {
    width: 60%;
    padding: 10px;
    line-height: 1.8;
}
.catSumTable{
    width: 90%;
    margin-left: 5%;
}
.catSumTable td{
    font-size: 13px;
}


/* learn page */
.learnSec1 {
    width: 90%;
}
.lifeCycIntro h1 {
    font-size: 3em;
}
.lifeCycIntro p{
    font-size: 1em;
}
.lifeCycIntro img {
    width: 350px;
    margin-top: 20px;
}
.lifeCycDescrip{
    width: 85%;
    margin-bottom: 0;
}
.lifeCycDescrip p {
    font-size: 1.2em;
}
.learnSec2{
    width: 90%;
}
.threatIntro h1{
    font-size: 3em;
}
.threatIntro p{
    font-size: 1em;
}
.ThreatsDescription {
    width: 100%;
    margin: 30px 20px 10px;
}
.threatBox {
    height: 50vh;
}
.ThreatsDescription ol li{
    font-size: 1.5em;
}
.ThreatsDescription p{
    font-size: 1em;
}
.conservation p{
    font-size: 1em;
}

/* kosgoda Hatchery page */
.KosgodaBody {
    margin-right: -110px;
}
#KosNav{
    display: flex;
    justify-content: left;
}
#KosNav .logo{
    width: 180px;
    margin-right: 25px;
}
.introbox .pic{
    height: 450px;
}
.contBox {
    min-height: 320px;
    margin-left: -120px;
}
.KOSsec2 {
    height: 100vh;
}
.speciesCont {
    width: 50%;
    padding: 0;
    margin-left: 20px;
    margin-top: 60px;
}
.speciesCont p {
    font-size: 1em;
}
.KOSsec3 {
    width: 90%;
}


/* Bentota Hatchery page */
#BentNav .logo{
    width: 150px;
}
#BentNav ul li{
    padding: 0;
    margin: 8px;
}
#BentNav ul li a{
    padding: 5px 6px;
}
.introbox2{
    margin: 10px auto;
}
.contBox2 {
    width: 80%;
}
.Bentsec2 {
    width: 90%;
}
.BentspeciesCont p {
    font-size: 1.5em;
}
.Bentsec3{
    width: 90%;
}
.Bentsec3 p {
    font-size: 1.5em;
}


}
  




/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */






  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .homebody {
        margin-right: -195px;
    }
    /* navbar */
    .sec1 .mainNav {
        padding: 15px 0;
        display: flex;
        justify-content: left;
    }
    
    .sec1 .mainNav ul li {
        margin: 0 10px;
    }
    .sec1 .mainNav ul li a{
        font-size: 12px;
    }
    .sec1 .mainNav .logo{
        margin-left: 10px;
        margin-right: 20px;
        width: 100px;
    }




/* home page */
#homepage .intro {
    width: 120%;
    left: 80%;
    text-align: left;
}
#homepage .intro h1 {
    font-size: 2.5em;
}
.sec3 {
    height: 105vh;
}
.sec3 .rightbox {
    padding: 0 10px;
}
.sec3 .rightbox h1 {
    font-size: 2em;
    padding-bottom: 0;
}
.sec3 .rightbox .catlist {
    font-size: 13px;
}
.sec3 .rightbox .ReadMorelink {
    padding: 10px 15px;
}
.sec4 {
    width: 90%;
}
.HatcheryRow .location {
    margin-right: 20px;
}

/* dontation page */
#donatepage .intro {
    width: 100%;
    left: 70%;
    text-align: left;

}
#donatepage .intro h1{
    font-size: 2.5em;
}
.Donatesec3 {
    margin-left: 10px;
}
    

/* learn page */
.learnSec1 {
    width: 90%;
}
.lifeCycIntro h1 {
    font-size: 2.5em;
}
.lifeCycIntro p {
    font-size: 1em;
}
.lifeCycIntro img {
    width: 300px;
    margin-top: 10px;
}
.lifeCycDescrip ul li{
    font-size: 1.5em;
}
.lifeCycDescrip p{
    font-size: 1em;
}
.learnSec2 {
    width: 90%;
}
.threatIntro h1{
    font-size: 2.5em;
}
.threatIntro p {
    font-size: 1.2em;
}
.threatBox {
    height: 90vh;
    text-align: left;
}
.threatleft{
    width: 100%;
}
.ThreatsDescription ol li{
    font-size: 1.5em;
    padding-top: 15px;
}
.ThreatsDescription p{
    font-size: 1em;
}
.threatright {
    width: 100%;
}
.threatright img {
    width: 100%;
}
.conservation p {
    font-size: 1.2em;
}


/* species page*/
.speciesIntro {
    width: 90%;
}
.speciesIntro h1 {
    font-size: 2em;
    padding-bottom: 20px;
}
.speciesIntro p{
    font-size: 1em;
}

.GreenTurtle{
    width: 100%;
    height: 150vh;
    margin-left: 0;
    padding-top: 30px;
}
.GreenTurtle h1{
    font-size: 2em;
}
.GreenTurtle .leftbox{
    width: 100%;
    padding: 30px;
}
.GreenTurtle .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
}

.OliveRidley{
    width: 100%;
    height: 150vh;
    margin-left: 0;
    padding-top: 30px;
}
.OliveRidley h1{
    font-size: 2em;
}
.OliveRidley .leftbox{
    width: 100%;
    padding: 30px;
}
.OliveRidley .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
}

.Loggerhead{
    width: 100%;
    height: 155vh;
    margin-left: 0;
    padding-top: 30px;
}
.Loggerhead h1{
    font-size: 2em;
}
.Loggerhead .leftbox{
    width: 100%;
    padding: 30px;
}
.Loggerhead .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
}

.Hawksbill{
    width: 100%;
    height: 155vh;
    margin-left: 0;
    padding-top: 30px;
}
.Hawksbill h1{
    font-size: 2em;
}
.Hawksbill .leftbox{
    width: 100%;
    padding: 30px;
}
.Hawksbill .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
}

.Leatherback{
    width: 100%;
    height: 150vh;
    margin-left: 0;
    padding-top: 30px;
}
.Leatherback h1{
    font-size: 2em;
}
.Leatherback .leftbox{
    width: 100%;
    padding: 30px;
}
.Leatherback .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
}

/* hikkaduwa page */
.hikkabody {
    margin-right: -9px;
}
#Hikkapage #HikkaIntro {
    width: 100%;
    left: 50%;
    padding: 20px 10px;
}

#Hikkapage #HikkaIntro h1 {
    font-size: 1.5em;
}
#Hikkapage #HikkaIntro p{
    font-size: 1em;
    padding: 0 10px;
}
.HikkaSec {
    width: 90%;
    padding-top: 30px;
}
.HikkaSub {
    font-size: 1.6em;
}
.HikkaSec p {
    font-size: 1em;
}

/* kosgoda Hatchery page */

#KosNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
#KosNav .logo{
    width: 150px;
    margin-right: 25px;
    margin-bottom: 10px;
}
#KosNav ul li{
    padding: 5px 12px;
    margin: 0;
    font-size: 12px;
}
.introbox .pic{
    height: 350px;
}
.contBox {
    width: 80%;
    min-height: 250px;
    margin-left: -110px;
    padding: 10px;
}
.content h1 {
    font-size: 25px;
    text-align: center;
}
.content p {
    font-size: 13px;
}
.KOSsec2 {
    height: 125vh;
    padding-top: 0;
}
.speciesCont {
    width: 90%;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}
.speciesCont h1{
    font-size: 2.2em;
}
.speciesCont p {
    font-size: 1em;
}
.speciesImg {
    width: 90%;
    float: none;
    top: 0;
}
.speciesImg img{
    width: 350px;
    padding-top: 20px;
    border-radius: 20px;
    padding-bottom: 10px;

    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.KOSsec3 {
    width: 90%;
    padding-top: 10px;
}
.KOSsec3 h1 {
    font-size: 3em;
    padding-bottom: 15px;
}
.KOSsec3 p {
    font-size: 1em;
    padding-top: 10px;
}
.KOSConEffList {
    padding: 20px;
}
.KOSConEffList dt {
    font-size: 1.5em;
}
.KOSConEffList dd {
    font-size: 1em;
}
.KosLocation iframe{
    width: 100%;
    height: 450px;
}

/* bentota Hatchery page */


#BentNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
#BentNav .logo{
    width: 150px;
    margin-right: 25px;
    margin-bottom: 10px;
}
#BentNav ul li{
    padding: 5px 8px;
    margin: 0;
    font-size: 12px;
}
#BentNav ul li a{
    padding: 5px 6px;
}
.contBox2{
    width: 90%;
}
.content2 h1{
    font-size: 2em;
}
.content2 P{
    font-size: 1em;
}
.pic2{
    height: 400px;
}
.Bentsec2{
    width: 90%;
    margin: 30px 20px;
}
.BentspeciesCont h1{
    font-size: 2.3em;
    padding-bottom: 20px;
}
.BentspeciesCont p{
    font-size: 1.2em;
}
.BentspeciesImg img{
    width: 400px;
}
.Bentsec3{
    width: 90%;
    margin: 30px 20px;
}
.Bentsec3 h1{
    font-size: 2.3em;
    padding-bottom: 20px;
}
.Bentsec3 p{
    font-size: 1.2em;
}
.BentConEffList{
    padding-top: 30px;
    padding-bottom: 25px;
}
.BentConEffList dt{
    font-size: 1.8em;
    padding-left: 15px;
}
.BentConEffList dd{
    font-size: 1.2em;
}



/* footer */
.footer .row{
    display: flex;
    justify-content: center;
}
.footer .row .col {
    margin: 0 10px;
}
.footer .row .col h3{
    font-size: 1.2em;
}
.footer .row ul li {
    font-size: 10px;
}
.footer .row .col .icons {
    width: 200px;
}
.footer .row .col .icons a {
    margin: 0 10px 10px 0;
}

}



  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
   
    /* navbar */
    .sec1 .mainNav {
        padding: 15px 0 0;
        display: block;
    }
    .sec1 .mainNav ul{
        display: flex;
        flex-flow: row wrap;
    }
    
    .sec1 .mainNav ul li {
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        margin: 0;
        width: 100%;
    }
    .sec1 .mainNav ul li a{
        font-size: 12px;
        display: block;
    }
    .sec1 .mainNav .logo{
        width: 180px;
        margin-left: 20%;
    }


/* home page */
#homepage .intro {
    width: 100%;
    top: 70%;
    left: 45%;
    text-align: center;
}
#homepage .intro h1 {
    font-size: 1.5em;
}
.sec2 {
    width: 90%;
    padding: 15px 0;
    margin: 10px;
}
.sec2 .welcome {
    margin: 0;
    font-size: 14px;
    word-spacing: 2px;
}
.sec2 h1{
    font-size: 2em;
}
.sec2 p{
    font-size: 1em;
}
.ReadMorelink{
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 13px;
}
.sec3 {
    height: 140vh;
    padding-top: 20px;
    display: block;
}
.sec3 .leftbox{
    width: 100%;
    height: 300px;
    padding: 0;
}
.sec3 .rightbox {
    width: 100%;
    height: auto;
    padding: 0 10px;
}
.sec3 .rightbox h1 {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 0;
}
.sec3 .rightbox p{
    font-size: 13px;
    margin-right: 8px;
}
.sec3 .rightbox .catlist {
    font-size: 13px;
}
.sec3 .rightbox .ReadMorelink {
    padding: 10px 15px;
}
.sec4 {
    width: 90%;
    margin-left: 10px;
    padding-top: 10px;
}
.sec4 h1 {
    font-size: 1.5em;
}
.HatcheryRow {
    display: block;
}
.HatcheryRow .location {
    margin-right: 20px;
}
.sec5 {
    width: 90%;
    padding-top: 10px;
    margin: 0 10px 0 5px;
}
.sec5 h1 {
    font-size: 1.5em;
}

/* dontation page */
#donatepage .intro {
    width: 100%;
    top: 70%;
    left: 50%;
    text-align: center;
}
#donatepage .intro h1{
    font-size: 1.5em;
}
.Donatesec2 {
    width: 90%;
    margin: 20px auto;
}
.Donatesec2 h1 {
    font-size: 2em;
}
.Donatesec2 h2{
    font-size: 1.5em;
}
.Donatesec2 p{
    font-size: 1em;
    margin-bottom: 30px;
}

.Donatesec3 {
    margin: 20px auto;
}
.mainheading h1 {
    font-size: 2.2em;
    margin: 30px 0;
}
.Merchs h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.ProductImg {
    grid-template-columns: repeat(auto-fill, minmax(320px, 320px));;
}
.ProductImg img {
    width: 320px;
    height: 290px;
}
    

/* learn page */
#learnpage .intro {
    width: 100%;
    top: 70%;
    left: 50%;
    text-align: center;
}
#learnpage .intro h1 {
    font-size: 1.5em;
}
.learnSec1 {
    width: 90%;
    margin: 10px auto;
}
.lifeCycIntro h1 {
    font-size: 1.5em;
}
.lifeCycIntro p {
    font-size: 1em;
}
.lifeCycIntro img {
    width: 300px;
    margin-top: 10px;
}
.lifeCycDescrip {
    width: 90%;
    margin-bottom: 0;
}
.lifeCycDescrip ul li{
    font-size: 1.5em;
}
.lifeCycDescrip p{
    font-size: 1em;
    padding-top: 8px;
}
.learnSec2 {
    width: 90%;
}
.threatIntro h1{
    font-size: 1.5em;
}
.threatIntro p {
    font-size: 1em;
}
.ThreatsDescription{
    margin: 10px auto;
}
.threatBox {
    height: 70vh;
    text-align: left;
}
.threatleft{
    width: 100%;
}
.ThreatsDescription ol li{
    font-size: 1.2em;
    margin-top: 15px;
}
.ThreatsDescription p{
    font-size: 13px;
}
.threatright {
    width: 100%;
}
.threatright img {
    width: 100%;
}
.conservation p {
    font-size: 14px;
}


/* species page*/
#speciespage .intro {
    width: 100%;
    top: 70%;
    left: 50%;
    text-align: center;
}
#speciespage .intro h1 {
    font-size: 1.5em;
}

.speciesIntro {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 15px;
}
.speciesIntro h1 {
    font-size: 1.5em;
    padding-bottom: 10px;
}
.speciesIntro p{
    font-size: 13px;
    padding-top: 20px;
}

.GreenTurtle{
    width: 100%;
    height: 140vh;
    margin-left: 0;
    padding-top: 20px;
}
.GreenTurtle h1{
    font-size: 1.5em;
}
.GreenTurtle .leftbox{
    width: 100%;
    padding: 20px;
}
.GreenTurtle .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
    font-size: 14px;
}

.OliveRidley{
    width: 100%;
    height: 140vh;
    margin-left: 0;
    padding-top: 20px;
}
.OliveRidley h1{
    font-size: 1.5em;
}
.OliveRidley .leftbox{
    width: 100%;
    padding: 20px;
}
.OliveRidley .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
    font-size: 14px;
}

.Loggerhead{
    width: 100%;
    height: 150vh;
    margin-left: 0;
    padding-top: 20px;
}
.Loggerhead h1{
    font-size: 1.5em;
}
.Loggerhead .leftbox{
    width: 100%;
    padding: 20px;
}
.Loggerhead .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
    font-size: 14px;
}

.Hawksbill{
    width: 100%;
    height: 145vh;
    margin-left: 0;
    padding-top: 20px;
}
.Hawksbill h1{
    font-size: 1.5em;
}
.Hawksbill .leftbox{
    width: 100%;
    padding: 20px;
}
.Hawksbill .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
    font-size: 14px;
}

.Leatherback{
    width: 100%;
    height: 140vh;
    margin-left: 0;
    padding-top: 20px;
}
.Leatherback h1{
    font-size: 1.5em;
}
.Leatherback .leftbox{
    width: 100%;
    padding: 20px;
}
.Leatherback .rightbox{
    width: 100%;
    padding: 0 20px;
    float: none;
    font-size: 14px;
}

/* hikkaduwa page */
.hikkabody {
    margin-right: -45px;
}
#Hikkapage #HikkaIntro {
    width: 100%;
    left: 55%;
    top: 75%;
    padding:10px;
}

#Hikkapage #HikkaIntro h1 {
    font-size: 1em;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}
#Hikkapage #HikkaIntro p{
    font-size: 13px;
    line-height: 1.2;
    padding: 0 10px;
    word-spacing: 1.5px;
}
.HikkaSec {
    width: 90%;
    padding-top: 20px;
}
.HikkaSub {
    font-size: 1.2em;
}
.HikkaSec p {
    font-size: 13px;
}
.HikkaLocation h1{
    font-size: 2em;
    padding: 20px;
    text-align: left;
}
.HikkaLocation iframe{
    height: 400px;
}

/* kosgoda Hatchery page */
.KosgodaBody{
    margin-right: -200px;
}
#KosNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
#KosNav .logo{
    width: 150px;
    margin-right: 25px;
    margin-bottom: 10px;
}
#KosNav ul li{
    padding: 5px 12px;
    margin: 0;
    font-size: 12px;
}
.introbox .pic{
    height: 350px;
}
.contBox {
    width: 80%;
    min-height: 250px;
    margin-left: -110px;
    padding: 10px;
}
.content h1 {
    font-size: 25px;
    text-align: center;
}
.content p {
    font-size: 13px;
}
.KOSsec2 {
    height: 125vh;
    padding-top: 0;
}
.speciesCont {
    width: 90%;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}
.speciesCont h1{
    font-size: 2.2em;
}
.speciesCont p {
    font-size: 1em;
}
.speciesImg {
    width: 90%;
    float: none;
    top: 0;
}
.speciesImg img{
    width: 350px;
    padding-top: 20px;
    border-radius: 20px;
    padding-bottom: 10px;

    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.KOSsec3 {
    width: 90%;
    padding-top: 10px;
}
.KOSsec3 h1 {
    font-size: 3em;
    padding-bottom: 15px;
}
.KOSsec3 p {
    font-size: 1em;
    padding-top: 10px;
}
.KOSConEffList {
    padding: 20px;
}
.KOSConEffList dt {
    font-size: 1.5em;
}
.KOSConEffList dd {
    font-size: 1em;
}
.KosLocation iframe{
    width: 100%;
    height: 450px;
}

/* bentota Hatchery page */


#BentNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
#BentNav .logo{
    width: 150px;
    margin-right: 25px;
    margin-bottom: 10px;
}
#BentNav ul li{
    padding: 4px;
    margin: 0;
    font-size: 9px;
}
#BentNav ul li a{
    padding: 4px;
}
.contBox2{
    width: 90%;
}
.content2 h1{
    font-size: 2em;
}
.content2 P{
    font-size: 1em;
}
.pic2{
    height: 400px;
}
.Bentsec2{
    width: 90%;
    margin: 30px 20px;
}
.BentspeciesCont h1{
    font-size: 1.5em;
    padding-bottom: 20px;
}
.BentspeciesCont p{
    font-size: 1em;
}
.BentspeciesImg img{
    width: 400px;
}
.Bentsec3{
    width: 90%;
    margin: 30px 20px;
}
.Bentsec3 h1{
    font-size: 1.5em;
    padding-bottom: 20px;
}
.Bentsec3 p{
    font-size: 1em;
    text-align: left;
}
.BentConEffList{
    padding-top: 30px;
    padding-bottom: 25px;
}
.BentConEffList dt{
    font-size: 1.5em;
    padding-left: 15px;
}
.BentConEffList dd{
    font-size: 1em;
}
.BentLocation h1 {
    font-size: 2em;
    padding-bottom: 20px;
}


/* footer */
footer {
    padding: 40px 0 30px;
}
.footer .row{
    display: block;
}
.footer .row .col {
    margin: 0 30px 40px;
    width: 70%;
}
.footer .row .col h3{
    font-size: 1.2em;
}
.footer .row ul li {
    font-size: 10px;
}
.footer .row .col .icons {
    width: 200px;
}
.footer .row .col .icons a {
    margin: 0 10px 10px 0;
}

}    
